.loginStatus {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#notification {
  background: rgb(231, 231, 231);
  font-size: 24px;
  padding-left: 8px;
  border-radius: 12px;
}

.success {
  border: 5px solid green;
  color: green;
}

.error {
  border: 5px solid red;
  color: red;
}

.nav-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.nav-container a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 16px;
}

.nav-container a:hover {
  color: #888;
}

#new-blog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-blog-form form {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

#new-blog-form p {
  margin-bottom: 10px;
  font-weight: bold;
}

#new-blog-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#new-blog-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 24px;
}

#new-blog-form button:hover {
  background-color: #0056b3;
}