#notification {
    background: rgb(231, 231, 231);
    font-size: 24px;
    padding-left: 8px;
    border-radius: 12px;
}

.success {
    border: 5px solid green;
    color: green;

}

.error {
    border: 5px solid red;
    color: red;
}